<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">

    <Properties>
        <Property name="logdir">/hotel/logs</Property>
        <!--   To avoid double logging of exceptions to the servlet context, you must use %ex{none} in your PatternLayout as shown in the example. The exception will be omitted from the message text but it is passed to the servlet context as the actual Throwable object.     -->
        <Property name="layout">%d [%t] %-5p %c- %m%n%ex{none}</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>

        <RollingFile name="LOCALHOST"
                     fileName="${logdir}/localhost.log"
                     filePattern="${logdir}/localhost.%d{yyyy-MM-dd}-%i.log">
            <!--       TODO     fileName="./logs/spring-boot-logger-log4j2.log"-->
            <!--            filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">-->
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <!--                <TimeBasedTriggeringPolicy/>-->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="error">
            <AppenderRef ref="Console" />
            <AppenderRef ref="LOCALHOST" />
        </Root>

        <Logger name="org.anatkor"
                level="info" additivity="false">
            <AppenderRef ref="LOCALHOST"/>
            <AppenderRef ref="Console"/>
        </Logger>

    </Loggers>
</Configuration>
