.inner_logo {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    padding: 44px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgb(0 0 0);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgb(0 0 0);
    min-height: 338px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.middle { /* vertical align */
/*    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);*/
}

body {
    background: rgba(35, 35, 104, 0.09);
}

.center1 {
    width: 420px;
    /*margin: 0;*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -50%)
}
