.header_container {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.btn-my-r {
    display: inline-block;
    color: #3b6696;
    font-weight: bold;
    text-decoration: none;
    background: #eee;
    margin: 0 2px 6px 0;
    padding: 4px 5px;
    font-size: 15px;
    line-height: 17px;
    border: solid 2px #3b6696;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.gap-item {
    margin: 0px 15px;
    border-radius: 5px;
    border:  solid 1px #d54d38;
}

.date-item {
    margin-right: 20px;
}

.hello_1 {
    height: 1200px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.sticky {
    position: sticky;
    top: 80px;
    padding: 10px;
}

.inner_logo {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    padding: 44px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgb(0 0 0);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgb(0 0 0);
    min-height: 338px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}



body {
    background: rgba(35, 35, 104, 0.09);
}

body.login{
    background-image: url(/static/img/background2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.center1 {
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.msg-danger {
    color: #d54d38;
}

.paid-item{
    font-size:24px;
    text-align: center;
    padding: 0.5em;
}
.paid{
    color: #3b6696;
    border:  solid 3px #3b6696;
}
.oldPaid{
    color: #d54d38;
    border:  solid 3px #d54d38;
}
.rotate1{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: 50%;
    border-radius: 10px;
    transform:rotate(-15deg);
}

.good{
    color: cornflowerblue;
    font-weight: bold;
}
.emptyClass{

}